<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<style>
    .header {
        float: left;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 2px;

        background-image: url("../assets/img/user2.jpg");
        //background: url("../assets/img/user2.jpg") no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<img src="../assets/img/user1.jpg">
<div class="header"></div>
<div class="header" style='background-image: url("../assets/img/user2.jpg");'></div>
</body>
</html>